<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:contxt="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
        ">
<!--    配置目标对象-->
    <bean id="target" class="com.ch.aop.Target"/>

<!--    配置切面对象-->
    <bean id="myAspect" class="com.ch.aop.MyAspect"/>

<!--    配置织入-->
<!--    <aop:config>-->
<!--        声明切面-->
<!--        <aop:aspect ref="myAspect">-->
<!--            <aop:before method="before" pointcut="execution(* com.ch.aop.Target.*(..))"/>-->
<!--            <aop:pointcut id="myPointcut" expression="execution(* com.ch.aop.Target.*(..))"/>-->
<!--            <aop:before method="before" pointcut-ref="myPointcut"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

<!--    配置组件扫描-->
    <contxt:component-scan base-package="com.ch.aop"/>

<!--    配置aop自动扫描-->
    <aop:aspectj-autoproxy/>


</beans>